<div class="row">
	<div class="span6">

		<h2>Sign in below</h2>

		<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well form-horizontal"}) do |f| %>

		<fieldset>
			<%= f.input :email %>
			<%= f.input :password %>

		  	<% if devise_mapping.rememberable? -%>
		    <div><%= f.input :remember_me, as: :boolean %></div>
		  	<% end -%>

		  	<div><%= f.button :submit, "Sign in", class: "update-btn-adjust" %></div>
			<% end %>

		</fieldset>

		<%= render "devise/shared/links" %>
	</div>
	<div class="span6"></div>
</div>
